{% extends "reviews/base.html" %}
{% block content %}
<h1>About Us</h1>
<h2>Rapp Ltd</h2>
<p>Lorem ipsum dolor sit amet, te has autem mandamus, affert possit ex duo, ea mei graecis sensibus. Admodum dissentiunt pro id, eu feugiat nominavi pri, invidunt indoctum ad eum. Vel ad eros denique dissentiunt. Nec at duis consul audiam. Has eros copiosae vituperatoribus ex, cu oratio doctus percipit sed. Audiam eruditi denique id quo, no enim aliquip suavitate sea, id omnis malis sea. Eam minimum accumsan expetenda ad, at ius velit similique.</p>
{% endblock content %}